{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>
    <table class="table history">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        {% for i in range(history | length) %}
            <tr>
                <td>{{ history[i][0] }}</td>
                <td>{{ history[i][1] }}</td>
                <td>{{ history[i][2] }}</td>
                <td>{{ history[i][3] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}