{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>Your Portfolio</h2>
    <table class="table portfolio">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>Value</th>
        </tr>
        {% for row in portfolio %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.stock_name }}</td>
                <td>{{ row.total_shares }}</td>
                <td>{{ row.current_price | usd }}</td>
                <td>{{ row.value | usd }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Cash Balance</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ user_cash | usd }}</td>
        </tr>
        <tr>
            <td>Portfolio Value</td>
            <td></td>
            <td></td>
            <td></td>
            <td id="portfolio_value">{{ portfolio_value | usd }}</td>
        </tr>
    </table>

    <div class="action_btns">
        <a class="btn-lnk" href="/buy"><button class="btn btn-primary">But</button></a>
        <a class="btn-lnk" href="/sell"><button class="btn btn-primary">Sell</button></a>
    </div>
        {% endblock %}