{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="form-container">
        <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control"  id="username" name="username" placeholder="Username" type="text">
                <p id="feedback"></p>
            </div>
            <div class="form-group">
                <input class="form-control" id ="password" name="password" placeholder="Password" type="password" minlength="6">
            </div>
            <div class="form_group">
                <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
            </div>
            <p class="requirements"><br>Password must be 6 characters long, contain 1 uppercase letter, 1 number, <br>and a special character (! # $ % & ?)</p>
            <button class="btn btn-primary" id="register-btn" type="submit" disabled>Register</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
    crossorigin="anonymous">
    </script>
    <script>
        let username = document.querySelector('#username');
        let password = document.querySelector('#password');
        let confirmation = document.querySelector('#confirmation');
        let register_btn = document.querySelector('#register-btn');
        
        let tracker = [false, false, false];

        function enableButton() {
            if (tracker[0] && tracker[1] && tracker[2]) {
                document.getElementById('register-btn').disabled = false; 
            } else {
                document.getElementById('register-btn').disabled = true; 
            }
        }

        username.addEventListener('keyup', () => {
            if (username.value == "") {
                feedback.innerHTML = '';
            } else {
                $.get('/username?q=' + username.value, function(available) {
                    let feedback = document.getElementById('feedback');
                    if (available[0] == 'true') {
                        feedback.innerHTML = 'Username is available!';
                        tracker[0] = true
                    } else {
                        feedback.innerHTML = 'Username unavailable';
                        tracker[0] = false
                    }
                });
            }

            enableButton();
        });
        
        password.addEventListener('keyup', () => {
            let upper = 0;
            let digit = 0;
            let special = 0;

            value = password.value;

            const specialChar = '! # $ % & ?';

            for (let i = 0; i < value.length; i++) {
                if ($.isNumeric(value[i])) {
                    digit ++;
                } 
                if (value[i] >= 'A' && value[i] <= 'Z') {
                    upper ++;
                } 
                if (specialChar.includes(value[i])) {
                    special ++;
                }
            }

            if (upper > 0 && digit > 0 && special > 0) {
                tracker[1] = true;
            } else {
                tracker[1] = false;
            }

            enableButton();
        });

        confirmation.addEventListener('keyup', () => {
            pvalue = password.value;
            cvalue = confirmation.value;
            if (cvalue == pvalue) {
                tracker[2] = true;
            } else {
                tracker[2] = false;
            }

            enableButton();
        });
    </script>
{% endblock %}