{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2>Sell</h2>
    <form action="/sell" method="post">
        <div class="form-group sell-form">
            <select name="symbol" type="text" placeholder="Symbol" autocomplete="off" autofocus>
                {% for i in range(portfolio | length)  %}
                    <option value="{{ portfolio[i][0] }}">{{ portfolio[i][0] }}</option>
                {% endfor %}
            <input name="shares" type="number" min="1" placeholder="Number of Shares">
            <button type="submit" class="btn btn-primary">Sell</button>
        </div>
    </form>
{% endblock %}
