/* Global site styles for global elements */

/* navigation bar and items */
nav {
    background-color: #555555;
    padding: 0;
}

.nav-link, .navbar-brand {
    color: #ffffff;
}

footer {
    background-color: #555555;
}