/* Content layout */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10%;
    
}

.headshot {
    border-radius: 25%;
}

.bio {
    text-align: center;
    padding: 2em;
}